<div>
    <h2 id="page-heading">
        <span jhiTranslate="jokeMonolithTestApp.joke.home.title">Jokes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-joke"
                [routerLink]="['/joke/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="jokeMonolithTestApp.joke.home.createLabel">
            Create a new Joke
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jokes?.length === 0">
        <span jhiTranslate="jokeMonolithTestApp.joke.home.notFound">No jokes found</span>
    </div>

    <!-- [routerLink]="['/joke', joke.id, 'view']"-->

    <div class="container">
        <div *ngFor="let joke of jokes" class="card w-75">
            <div class="card-body">
                <h3 class="card-title">{{ joke.question }}</h3>
                <h4 class="card-text text-right">{{ joke.answer }}</h4>

                <button type="button" [routerLink]="['/joke', joke.id, 'edit']"
                        class="btn btn-info btn-sm">
                    <fa-icon icon="comments"></fa-icon>
                    <span class="d-none d-md-inline">Comment</span>
                </button>
                <button type="button"
                        class="btn btn-primary btn-sm">
                    <fa-icon icon="thumbs-up"></fa-icon>
                    <span class="d-none d-md-inline">Like</span>
                </button>
                <button type="submit" (click)="delete(joke)"
                        class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </div>
    </div>

</div>
